<!-- public/index.html -->
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>IFSP - Pirituba</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <img src="Logo.jpg" alt=" " />
    <h1>Atividade 01</h1>
	<h2>Aluno do IFSP, bem-vindo ao <%=nome %></h1>
</body>
</html>